<?xml version="1.0"?>
<psalm
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    ensureArrayStringOffsetsExist="true"
    resolveFromConfigFile="true"
    totallyTyped="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <DeprecatedClass errorLevel="info"/>
        <DeprecatedConstant errorLevel="info"/>
        <DeprecatedFunction errorLevel="info"/>
        <DeprecatedInterface errorLevel="info"/>
        <DeprecatedMethod errorLevel="info"/>
        <DeprecatedProperty errorLevel="info"/>
        <DeprecatedTrait errorLevel="info"/>
        <Trace errorLevel="info"/>
    </issueHandlers>

    <stubs>
        <file name="psalm_stubs.php"/>
    </stubs>

    <ignoreExceptions>
        <class name="RuntimeException"/>
        <class name="InvalidArgumentException"/>
        <class name="Psr\Log\InvalidArgumentException"/>
    </ignoreExceptions>
</psalm>
