<?xml version="1.0"?>
<psalm
    checkForThrowsDocblock="true"
    checkForThrowsInGlobalScope="true"
    ensureArrayStringOffsetsExist="true"
    errorLevel="1"
    findUnusedPsalmSuppress="true"
    reportMixedIssues="true"
    resolveFromConfigFile="true"
    sealAllMethods="true"
    skipChecksOnUnresolvableIncludes="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>

    <projectFiles>
        <directory name="src"/>
        <directory name="tests"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <DeprecatedClass errorLevel="info"/>
        <DeprecatedConstant errorLevel="info"/>
        <DeprecatedFunction errorLevel="info"/>
        <DeprecatedInterface errorLevel="info"/>
        <DeprecatedMethod errorLevel="info"/>
        <DeprecatedProperty errorLevel="info"/>
        <DeprecatedTrait errorLevel="info"/>
    </issueHandlers>

    <ignoreExceptions>
        <classAndDescendants name="InvalidArgumentException"/>
        <classAndDescendants name="LogicException"/>
        <classAndDescendants name="RuntimeException"/>
    </ignoreExceptions>
</psalm>
